/.idea/
/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/config.php
/web/bundles/
!/web/uploads
/web/uploads/*
!/web/downloads
/web/downloads/*
README.md
!/README.md
.DS_Store
web/assetic/*
web/js/*
web/css/*
composer.lock